:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #CA0D0D;
  --color-red-light: #FD3F35;
  --color-red-hover: #DF1414;
  --color-green: #519E1E;
  --color-green-hover: #67B434;
  --color-orange: #FFDAA8;
  --color-gray: #AEBBCC;
  --color-base: #2A3747;
  --color-blue: #1C90D1;
  --base-transition: all linear .2s;
  --font-noto-sans: 'Noto Sans', Arial, sans-serif;
  --font-montserrat: 'Montserrat', Arial, sans-serif;
}