.content p,
.p,
.content li,
.li {
	font-size: 1.6rem;
	line-height: (19/16) * 1;
	&:not(:last-child) {
		margin-bottom: 1.5rem;
		@include large-tablet {
			margin-bottom: 1rem;
		}
		@include small-tablet {
			margin-bottom: .8rem;
		}
	}
}

.content li,
.li {
	position: relative;
	padding-left: 1.5rem;
	&::before {
		content: '';
		position: absolute;
		width: .3rem;
		height: .3rem;
		background-color: var(--color-base);
		left: 0;
		border-radius: 50%;
		top: .7rem;
	}
	@include large-tablet {
		@include line-height(12, 18)
	}
}

.content ul,
.content ol {
}

.content b,
.b {
	font-weight: bold;
}

.content strong,
.strong {
	font-weight: 500;
}

.content a,
.a {
}

.h1,
.content h1,
.h2,
.content h2,
.h3,
.content h3,
.h4,
.content h4,
.h5,
.content h5,
.h6,
.content h6 {
	font-weight: 400;
}

.h1,
.content h1 {
	font-family: var(--font-montserrat);
	font-weight: 500;
	font-size: 3.6rem;
	line-height: (44/36) * 1;
	strong {
		font-weight: 700;
	}
}

.h2,
.content h2 {
}

.h3,
.content h3 {
	font-size: 2.4rem;
	line-height: (28/24) * 1;
}

.h4,
.content h4 {
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 2rem;
	@include large-tablet {
		font-size: 1.8rem;
		margin-bottom: 1.5rem;
	}
	@include small-tablet {
		font-size: 1.4rem;
	}
}

.h5,
.content h5 {
	font-size: 1.8rem;
	font-weight: 500;
}

.h6,
.content h6 {
}
