+b.NAV.menu.js-menu
    .container.flex
        +e.UL.list.css-scrollbar
            +e.LI.item._title
                +e.A(href="#").title.h5 Каталог конвертов
            +e.LI.item.is-active.js-menu-item(data-id="1")
                +e.A(href="#").link Белые конверты
            +e.LI.item.js-menu-item(data-id="2")
                +e.A(href="#").link Крафт конверты
            +e.LI.item.js-menu-item(data-id="3")
                +e.A(href="#").link Цветные конверты
            +e.LI.item.js-menu-item(data-id="4")
                +e.A(href="#").link Дизайнерские конверты
            +e.LI.item.js-menu-item(data-id="5")
                +e.A(href="#").link Полупрозрачные из кальки
            +e.LI.item.js-menu-item(data-id="6")
                +e.A(href="#").link Картонные конверты
            +e.LI.item.js-menu-item(data-id="7")
                +e.A(href="#").link Пакеты с расширением
            +e.LI.item.js-menu-item(data-id="8")
                +e.A(href="#").link Печать на конвертах
            +e.LI.item.js-menu-item(data-id="9")
                +e.A(href="#").link Конверты "С праздником"
            +e.LI.item.js-menu-item(data-id="10")
                +e.A(href="#").link Бумага и картон
            +e.LI.item._title
                +e.A(href="#").title.h5 Каталог упаковки
            +e.LI.item.js-menu-item(data-id="11")
                +e.A(href="#").link Пакеты ПОЧТОВЫЕ
            +e.LI.item.js-menu-item(data-id="12")
                +e.A(href="#").link Отправление 1 классом
            +e.LI.item.js-menu-item(data-id="13")
                +e.A(href="#").link КУРЬЕР-ПАКЕТЫ полиэтилен
            +e.LI.item.js-menu-item(data-id="14")
                +e.A(href="#").link Картонная упаковка
            +e.LI.item.js-menu-item(data-id="15")
                +e.A(href="#").link Пакеты с пузырьками MAIL LITE
            +e.LI.item.js-menu-item(data-id="16")
                +e.A(href="#").link Самоклеющиеся пакеты
            +e.LI.item.js-menu-item(data-id="17")
                +e.A(href="#").link Самоклеющиеся этикетки
            +e.LI.item.js-menu-item(data-id="18")
                +e.A(href="#").link Тканевые промо-сумки
            +e.LI.item.js-menu-item(data-id="19")
                +e.A(href="#").link Крафт пакеты
            +e.LI.item.js-menu-item(data-id="20")
                +e.A(href="#").link Пакеты DOY-PACK
            +e.LI.item.js-menu-item(data-id="21")
                +e.A(href="#").link Полиэтиленовые пакеты
            +e.LI.item.js-menu-item(data-id="22")
                +e.A(href="#").link Упаковка для фаст фуда
            +e.LI.item.js-menu-item(data-id="23")
                +e.A(href="#").link Упаковка для маркетплейсов
            +e.LI.item.js-menu-item(data-id="24")
                +e.A(href="#").link Медицинская упаковка
            +e.LI.item.js-menu-item(data-id="25")
                +e.A(href="#").link Пленки упаковочные
            +e.LI.item.js-menu-item(data-id="26")
                +e.A(href="#").link Клейкие ленты
            +e.LI.item.js-menu-item(data-id="27")
                +e.A(href="#").link Флористика и декор
            +e.LI.item.js-menu-item(data-id="28")
                +e.A(href="#").link Для опломбирования
            +e.LI.mobile.table-show
                +e.UL.submenu
                    +e.LI.subitem
                        +e.A(href="#").sublink._border
                            | Онлайн оплата

        +e.content.css-scrollbar
            +e.dropdown.dropdown-menu__.js-menu-dropdown(style="display: block" data-content="1")
                +e.inner.flex
                    +e.tabs
                        +e.A(href="#" data-id="29").tab.js-tab 114*162 мм = С6
                        +e.A(href="#" data-id="30").tab.js-tab 110*220 мм = Е65
                        +e.A(href="#" data-id="31").tab.js-tab 114*229 мм = C65
                        +e.A(href="#" data-id="32").tab.is-active.js-tab 162*229 мм = С5
                        +e.A(href="#" data-id="33").tab.js-tab 229*324 мм = С4
                        +e.A(href="#" data-id="34").tab.js-tab 250*353 мм = В4
                        +e.A(href="#" data-id="35").tab.js-tab 320*440 мм = С3
                        +e.A(href="#" data-id="36").tab.js-tab Квадратные
                        +e.A(href="#" data-id="37").tab.js-tab Для открыток
                    +e.content
                        +e.box.js-tab-content(data-content="29")
                            +e.IMG(src="/img/convert-1.png" alt="").image
                            +e.text
                                p На этой странице вы можете купить оптом или в розницу конверты формата <strong>С6 114*162</strong> мм чистые белые с треугольным или прямым клапаном, сухим клеем декстрин или отрывной полосой (стрип, силикон).
                                p В наличии конверты 162*229 мм для автоматической заклейки (клапан автомат) чистые или с подсказом "кому-куда" или с прозрачным окном справа. Формат С5 вмещает стандартный лист бумаги А4, сложенный пополам или А5.
                                p Напоминаем, что покупая конверты C5 оптом можно сэкономить, <br> используя <a href="#">карты скидок 5 или 7%.</a>
                        +e.box.js-tab-content(data-content="30")
                            +e.IMG(src="/img/convert-1.png" alt="").image
                            +e.text
                                p На этой странице вы можете купить оптом или в розницу конверты формата <strong>Е65 114*229</strong> мм чистые белые с треугольным или прямым клапаном, сухим клеем декстрин или отрывной полосой (стрип, силикон).
                                p В наличии конверты 162*229 мм для автоматической заклейки (клапан автомат) чистые или с подсказом "кому-куда" или с прозрачным окном справа. Формат С5 вмещает стандартный лист бумаги А4, сложенный пополам или А5.
                                p Напоминаем, что покупая конверты C5 оптом можно сэкономить, <br> используя <a href="#">карты скидок 5 или 7%.</a>
                        +e.box.js-tab-content(data-content="31")
                            +e.IMG(src="/img/convert-1.png" alt="").image
                            +e.text
                                p На этой странице вы можете купить оптом или в розницу конверты формата <strong>С6 114*162</strong> мм чистые белые с треугольным или прямым клапаном, сухим клеем декстрин или отрывной полосой (стрип, силикон).
                                p В наличии конверты 162*229 мм для автоматической заклейки (клапан автомат) чистые или с подсказом "кому-куда" или с прозрачным окном справа. Формат С5 вмещает стандартный лист бумаги А4, сложенный пополам или А5.
                                p Напоминаем, что покупая конверты C5 оптом можно сэкономить, <br> используя <a href="#">карты скидок 5 или 7%.</a>
                        +e.box.js-tab-content(data-content="32" style="display: block")
                            +e.IMG(src="/img/convert-1.png" alt="").image
                            +e.text
                                p На этой странице вы можете купить оптом или в розницу конверты формата <strong>С5 162*229</strong> мм чистые белые с треугольным или прямым клапаном, сухим клеем декстрин или отрывной полосой (стрип, силикон).
                                p В наличии конверты 162*229 мм для автоматической заклейки (клапан автомат) чистые или с подсказом "кому-куда" или с прозрачным окном справа. Формат С5 вмещает стандартный лист бумаги А4, сложенный пополам или А5.
                                p Напоминаем, что покупая конверты C5 оптом можно сэкономить, <br> используя <a href="#">карты скидок 5 или 7%.</a>
                        +e.box.js-tab-content(data-content="33")
                            +e.IMG(src="/img/convert-1.png" alt="").image
                            +e.text
                                p На этой странице вы можете купить оптом или в розницу конверты формата <strong>229*324 мм = С4</strong> мм чистые белые с треугольным или прямым клапаном, сухим клеем декстрин или отрывной полосой (стрип, силикон).
                                p В наличии конверты 162*229 мм для автоматической заклейки (клапан автомат) чистые или с подсказом "кому-куда" или с прозрачным окном справа. Формат С5 вмещает стандартный лист бумаги А4, сложенный пополам или А5.
                                p Напоминаем, что покупая конверты C5 оптом можно сэкономить, <br> используя <a href="#">карты скидок 5 или 7%.</a>
                        +e.box.js-tab-content(data-content="34")
                            +e.IMG(src="/img/convert-1.png" alt="").image
                            +e.text
                                p На этой странице вы можете купить оптом или в розницу конверты формата <strong>250*353 мм = В4</strong> мм чистые белые с треугольным или прямым клапаном, сухим клеем декстрин или отрывной полосой (стрип, силикон).
                                p В наличии конверты 162*229 мм для автоматической заклейки (клапан автомат) чистые или с подсказом "кому-куда" или с прозрачным окном справа. Формат С5 вмещает стандартный лист бумаги А4, сложенный пополам или А5.
                                p Напоминаем, что покупая конверты C5 оптом можно сэкономить, <br> используя <a href="#">карты скидок 5 или 7%.</a>
                        +e.box.js-tab-content(data-content="35")
                            +e.IMG(src="/img/convert-1.png" alt="").image
                            +e.text
                                p На этой странице вы можете купить оптом или в розницу конверты формата <strong>320*440 мм = С3</strong> мм чистые белые с треугольным или прямым клапаном, сухим клеем декстрин или отрывной полосой (стрип, силикон).
                                p В наличии конверты 162*229 мм для автоматической заклейки (клапан автомат) чистые или с подсказом "кому-куда" или с прозрачным окном справа. Формат С5 вмещает стандартный лист бумаги А4, сложенный пополам или А5.
                                p Напоминаем, что покупая конверты C5 оптом можно сэкономить, <br> используя <a href="#">карты скидок 5 или 7%.</a>
                        +e.box.js-tab-content(data-content="36")
                            +e.IMG(src="/img/convert-1.png" alt="").image
                            +e.text
                                p На этой странице вы можете купить оптом или в розницу конверты формата <strong>Квадратные</strong> мм чистые белые с треугольным или прямым клапаном, сухим клеем декстрин или отрывной полосой (стрип, силикон).
                                p В наличии конверты 162*229 мм для автоматической заклейки (клапан автомат) чистые или с подсказом "кому-куда" или с прозрачным окном справа. Формат С5 вмещает стандартный лист бумаги А4, сложенный пополам или А5.
                                p Напоминаем, что покупая конверты C5 оптом можно сэкономить, <br> используя <a href="#">карты скидок 5 или 7%.</a>
                        +e.box.js-tab-content(data-content="37")
                            +e.IMG(src="/img/convert-1.png" alt="").image
                            +e.text
                                p На этой странице вы можете купить оптом или в розницу конверты формата <strong>Для открыток</strong> мм чистые белые с треугольным или прямым клапаном, сухим клеем декстрин или отрывной полосой (стрип, силикон).
                                p В наличии конверты 162*229 мм для автоматической заклейки (клапан автомат) чистые или с подсказом "кому-куда" или с прозрачным окном справа. Формат С5 вмещает стандартный лист бумаги А4, сложенный пополам или А5.
                                p Напоминаем, что покупая конверты C5 оптом можно сэкономить, <br> используя <a href="#">карты скидок 5 или 7%.</a>
            +e.dropdown.dropdown-menu__.js-menu-dropdown(data-content="2")
                +e.inner.flex
                    +e.tabs
                        +e.A(href="#" data-id="38").tab.js-tab 114*162 мм = С6
                        +e.A(href="#" data-id="39").tab.js-tab 110*220 мм = Е65
                        +e.A(href="#" data-id="40").tab.is-active.js-tab 162*229 мм = С5
                        +e.A(href="#" data-id="41").tab.js-tab 229*324 мм = С4
                        +e.A(href="#" data-id="42").tab.js-tab 250*353 мм = В4
                        +e.A(href="#" data-id="43").tab.js-tab 300*400 мм = E4
                        +e.A(href="#" data-id="44").tab.js-tab 320*440 мм = С3
                        +e.A(href="#" data-id="45").tab.js-tab Нестандартные
                        +e.A(href="#" data-id="46").tab.js-tab Треугольный клапан
                    +e.content
                        +e.box.js-tab-content(data-content="38")
                            +e.IMG(src="/img/convert-2.png" alt="").image
                            +e.text
                                p На этой странице вы можете купить оптом или в розницу конверты формата <strong>С6 114*162</strong> мм чистые белые с треугольным или прямым клапаном, сухим клеем декстрин или отрывной полосой (стрип, силикон).
                                p В наличии конверты 162*229 мм для автоматической заклейки (клапан автомат) чистые или с подсказом "кому-куда" или с прозрачным окном справа. Формат С5 вмещает стандартный лист бумаги А4, сложенный пополам или А5.
                                p Напоминаем, что покупая конверты C5 оптом можно сэкономить, <br> используя <a href="#">карты скидок 5 или 7%.</a>
                        +e.box.js-tab-content(data-content="39")
                            +e.IMG(src="/img/convert-2.png" alt="").image
                            +e.text
                                p На этой странице вы можете купить оптом или в розницу конверты формата <strong>Е65 114*229</strong> мм чистые белые с треугольным или прямым клапаном, сухим клеем декстрин или отрывной полосой (стрип, силикон).
                                p В наличии конверты 162*229 мм для автоматической заклейки (клапан автомат) чистые или с подсказом "кому-куда" или с прозрачным окном справа. Формат С5 вмещает стандартный лист бумаги А4, сложенный пополам или А5.
                                p Напоминаем, что покупая конверты C5 оптом можно сэкономить, <br> используя <a href="#">карты скидок 5 или 7%.</a>
                        +e.box.js-tab-content(data-content="40")
                            +e.IMG(src="/img/convert-2.png" alt="").image
                            +e.text
                                p На этой странице вы можете купить оптом или в розницу конверты формата <strong>С6 114*162</strong> мм чистые белые с треугольным или прямым клапаном, сухим клеем декстрин или отрывной полосой (стрип, силикон).
                                p В наличии конверты 162*229 мм для автоматической заклейки (клапан автомат) чистые или с подсказом "кому-куда" или с прозрачным окном справа. Формат С5 вмещает стандартный лист бумаги А4, сложенный пополам или А5.
                                p Напоминаем, что покупая конверты C5 оптом можно сэкономить, <br> используя <a href="#">карты скидок 5 или 7%.</a>
                        +e.box.js-tab-content(data-content="41" style="display: block")
                            +e.IMG(src="/img/convert-2.png" alt="").image
                            +e.text
                                p На этой странице вы можете купить оптом или в розницу конверты формата <strong>С5 162*229</strong> мм чистые белые с треугольным или прямым клапаном, сухим клеем декстрин или отрывной полосой (стрип, силикон).
                                p В наличии конверты 162*229 мм для автоматической заклейки (клапан автомат) чистые или с подсказом "кому-куда" или с прозрачным окном справа. Формат С5 вмещает стандартный лист бумаги А4, сложенный пополам или А5.
                                p Напоминаем, что покупая конверты C5 оптом можно сэкономить, <br> используя <a href="#">карты скидок 5 или 7%.</a>
                        +e.box.js-tab-content(data-content="42")
                            +e.IMG(src="/img/convert-2.png" alt="").image
                            +e.text
                                p На этой странице вы можете купить оптом или в розницу конверты формата <strong>229*324 мм = С4</strong> мм чистые белые с треугольным или прямым клапаном, сухим клеем декстрин или отрывной полосой (стрип, силикон).
                                p В наличии конверты 162*229 мм для автоматической заклейки (клапан автомат) чистые или с подсказом "кому-куда" или с прозрачным окном справа. Формат С5 вмещает стандартный лист бумаги А4, сложенный пополам или А5.
                                p Напоминаем, что покупая конверты C5 оптом можно сэкономить, <br> используя <a href="#">карты скидок 5 или 7%.</a>
                        +e.box.js-tab-content(data-content="43")
                            +e.IMG(src="/img/convert-2.png" alt="").image
                            +e.text
                                p На этой странице вы можете купить оптом или в розницу конверты формата <strong>250*353 мм = В4</strong> мм чистые белые с треугольным или прямым клапаном, сухим клеем декстрин или отрывной полосой (стрип, силикон).
                                p В наличии конверты 162*229 мм для автоматической заклейки (клапан автомат) чистые или с подсказом "кому-куда" или с прозрачным окном справа. Формат С5 вмещает стандартный лист бумаги А4, сложенный пополам или А5.
                                p Напоминаем, что покупая конверты C5 оптом можно сэкономить, <br> используя <a href="#">карты скидок 5 или 7%.</a>
                        +e.box.js-tab-content(data-content="44")
                            +e.IMG(src="/img/convert-2.png" alt="").image
                            +e.text
                                p На этой странице вы можете купить оптом или в розницу конверты формата <strong>320*440 мм = С3</strong> мм чистые белые с треугольным или прямым клапаном, сухим клеем декстрин или отрывной полосой (стрип, силикон).
                                p В наличии конверты 162*229 мм для автоматической заклейки (клапан автомат) чистые или с подсказом "кому-куда" или с прозрачным окном справа. Формат С5 вмещает стандартный лист бумаги А4, сложенный пополам или А5.
                                p Напоминаем, что покупая конверты C5 оптом можно сэкономить, <br> используя <a href="#">карты скидок 5 или 7%.</a>
                        +e.box.js-tab-content(data-content="45")
                            +e.IMG(src="/img/convert-2.png" alt="").image
                            +e.text
                                p На этой странице вы можете купить оптом или в розницу конверты формата <strong>Нестандартные</strong> мм чистые белые с треугольным или прямым клапаном, сухим клеем декстрин или отрывной полосой (стрип, силикон).
                                p В наличии конверты 162*229 мм для автоматической заклейки (клапан автомат) чистые или с подсказом "кому-куда" или с прозрачным окном справа. Формат С5 вмещает стандартный лист бумаги А4, сложенный пополам или А5.
                                p Напоминаем, что покупая конверты C5 оптом можно сэкономить, <br> используя <a href="#">карты скидок 5 или 7%.</a>
                        +e.box.js-tab-content(data-content="46")
                            +e.IMG(src="/img/convert-2.png" alt="").image
                            +e.text
                                p На этой странице вы можете купить оптом или в розницу конверты формата <strong>Треугольный клапан</strong> мм чистые белые с треугольным или прямым клапаном, сухим клеем декстрин или отрывной полосой (стрип, силикон).
                                p В наличии конверты 162*229 мм для автоматической заклейки (клапан автомат) чистые или с подсказом "кому-куда" или с прозрачным окном справа. Формат С5 вмещает стандартный лист бумаги А4, сложенный пополам или А5.
                                p Напоминаем, что покупая конверты C5 оптом можно сэкономить, <br> используя <a href="#">карты скидок 5 или 7%.</a>
            +e.dropdown.dropdown-menu__.js-menu-dropdown(data-content="3") 3
            +e.dropdown.dropdown-menu__.js-menu-dropdown(data-content="4") 4
            +e.dropdown.dropdown-menu__.js-menu-dropdown(data-content="5") 5
            +e.dropdown.dropdown-menu__.js-menu-dropdown(data-content="6") 6
            +e.dropdown.dropdown-menu__.js-menu-dropdown(data-content="7") 7
            +e.dropdown.dropdown-menu__.js-menu-dropdown(data-content="8") 8
            +e.dropdown.dropdown-menu__.js-menu-dropdown(data-content="9") 9
            +e.dropdown.dropdown-menu__.js-menu-dropdown(data-content="10") 10
            +e.dropdown.dropdown-menu__.js-menu-dropdown(data-content="11") 11
            +e.dropdown.dropdown-menu__.js-menu-dropdown(data-content="12") 12
            +e.dropdown.dropdown-menu__.js-menu-dropdown(data-content="13") 13
            +e.dropdown.dropdown-menu__.js-menu-dropdown(data-content="14") 14
            +e.dropdown.dropdown-menu__.js-menu-dropdown(data-content="15") 15
            +e.dropdown.dropdown-menu__.js-menu-dropdown(data-content="16") 16
            +e.dropdown.dropdown-menu__.js-menu-dropdown(data-content="17") 17
    +e.BUTTON(type="button").close.js-close-menu
        +icon('close')