-
    var intro = {
        nav: true,
        navContainerClass: 'intro__nav',
        autoplay: true,
        loop: true,
        autoplayTimeout: 4000,
        autoplayHoverPause: true
    };

+b.SECTION.intro
    +e.slider.js-slider(data-settings=intro)
        +e.A(href="#").slide.flex._center
            +e.IMG(src="/img/banner-1.jpg" alt="Лучшие условия доставки!").image.object-fit
        +e.A(href="#").slide.flex._center
            +e.IMG(src="/img/banner-2.jpg" alt="Лучшие условия доставки!").image.object-fit