+b.SECTION.services
    .container
        +e.row.flex._wrap
            +e.col.service-item__._big
                +e.image.absolute
                    +b.IMG(src="/img/service-1.jpg" alt="#").object-fit
                +e.content
                    +e.H3.title.h3 Дой пакеты <span>крафт и бумага</span>
                    +e.UL.info.css-scrollbar
                        +e.LI.elem
                            +e.A(href="#").link Пакеты дой-пак крафт
                        +e.LI.elem
                            +e.A(href="#").link Пакеты дой-пак крафт с окном
                        +e.LI.elem
                            +e.A(href="#").link Пакеты дой-пак прозрачные
                        +e.LI.elem
                            +e.A(href="#").link Пакеты дой-пак с окном
                        +e.LI.elem
                            +e.A(href="#").link Пакеты дой-пак белые
                        +e.LI.elem
                            +e.A(href="#").link Пакеты дой-пак черные
                        +e.LI.elem
                            +e.A(href="#").link Пакеты дой-пак золото
                        +e.LI.elem
                            +e.A(href="#").link Дой-пак фольгированные
                        +e.LI.elem
                            +e.A(href="#").link Пакеты дой-пак цветные
                        +e.LI.elem
                            +e.A(href="#").link Дой-пак металлизированные
                        +e.LI.elem
                            +e.A(href="#").link Дой-пак с прозрачной стороной
                        +e.LI.elem
                            +e.A(href="#").link Пакеты 8-шовные с дном
                        +e.LI.elem
                            +e.A(href="#").link Пакеты с центральным швом
                        +e.LI.elem
                            +e.A(href="#").link Запайщики пакетов
            +e.col.service-item__._bottom
                +e.image.absolute
                    +b.IMG(src="/img/service-2.jpg" alt="#").object-fit
                +e.content
                    +e.UL.info.css-scrollbar
                        +e.LI.elem
                            +e.A(href="#").link 114*162 мм = С6
                        +e.LI.elem
                            +e.A(href="#").link 110*220 мм = Е65
                        +e.LI.elem
                            +e.A(href="#").link 162*229 мм = С5
                        +e.LI.elem
                            +e.A(href="#").link 229*324 мм = С4
                        +e.LI.elem
                            +e.A(href="#").link 250*353 мм = В4
                        +e.LI.elem
                            +e.A(href="#").link 300*400 мм = E4
                        +e.LI.elem
                            +e.A(href="#").link 320*440 мм = С3
                    +e.H3.title.h3 Конверты <br> <span>из крафт бумаги</span>
            +e.col.service-item__._bottom
                +e.image.absolute
                    +b.IMG(src="/img/service-3.jpg" alt="#").object-fit
                +e.content
                    +e.UL.info.css-scrollbar
                        +e.LI.elem
                            +e.A(href="#").link Формат C6 114х162 мм
                        +e.LI.elem
                            +e.A(href="#").link Формат DL / C65 114х229 мм
                        +e.LI.elem
                            +e.A(href="#").link Формат C5 162х229 мм
                        +e.LI.elem
                            +e.A(href="#").link Формат C4 229х324 мм
                        +e.LI.elem
                            +e.A(href="#").link Квадратные 160х160 мм
                        +e.LI.elem
                            +e.A(href="#").link Формат E65 (110х220 мм)
                        +e.LI.elem
                            +e.A(href="#").link Формат С5 (162х229 мм)
                        +e.LI.elem
                            +e.A(href="#").link Формат C6 114х162 мм
                        +e.LI.elem
                            +e.A(href="#").link Формат DL / C65 114х229 мм
                        +e.LI.elem
                            +e.A(href="#").link Формат C5 162х229 мм
                        +e.LI.elem
                            +e.A(href="#").link Формат C4 229х324 мм
                        +e.LI.elem
                            +e.A(href="#").link Квадратные 160х160 мм
                        +e.LI.elem
                            +e.A(href="#").link Формат E65 (110х220 мм)
                        +e.LI.elem
                            +e.A(href="#").link Формат С5 (162х229 мм)
                    +e.H3.title.h3.color-white <span>Цветные и дизайнерские</span> <br> Конверты
            +e.col.service-item__._bottom._right
                +e.image.absolute
                    +b.IMG(src="/img/service-4.jpg" alt="#").object-fit
                +e.content
                    +e.UL.info.css-scrollbar
                        +e.LI.elem
                            +e.A(href="#").link MAIL LITE WHITE - белые
                        +e.LI.elem
                            +e.A(href="#").link MAIL LITE GOLD - коричневые
                        +e.LI.elem
                            +e.A(href="#").link Пакеты AIRPRO (Польша)
                        +e.LI.elem
                            +e.A(href="#").link Металлизированные
                        +e.LI.elem
                            +e.A(href="#").link Цветные
                    +e.H3.title.h3.color-white Mail Lite
            +e.col.service-item__._bottom._right
                +e.image.absolute
                    +b.IMG(src="/img/service-5.jpg" alt="#").object-fit
                +e.content
                    +e.H3.title.h3.color-white Конверты <br> <span>с вашим логотипом</span>
            +e.col.service-item__._big._bottom._right
                +e.image.absolute
                    +b.IMG(src="/img/service-6.jpg" alt="#").object-fit
                +e.content
                    +e.H3.title.h3 <span>Канцелярские и почтовые</span> <br> конверты
            +e.col.service-item__._big
                +e.image.absolute
                    +b.IMG(src="/img/service-7.jpg" alt="#").object-fit
                +e.content
                    +e.H3.title.h3 Почтовые и <br> курьер-пакеты
            +e.col.service-item__
                +e.image.absolute
                    +b.IMG(src="/img/service-8.jpg" alt="#").object-fit
                +e.content
                    +e.H3.title.h3.color-white Пакеты BOPP
            +e.col.service-item__
                +e.image.absolute
                    +b.IMG(src="/img/service-9.jpg" alt="#").object-fit
                +e.content
                    +e.H3.title.h3 Крафт пакеты
            +e.col.service-item__._big._right
                +e.image.absolute
                    +b.IMG(src="/img/service-10.jpg" alt="#").object-fit
                +e.content
                    +e.H3.title.h3 Вся упаковка <br> <span>для интернет-магазинов</span>
            +e.col.service-item__._bottom
                +e.image.absolute
                    +b.IMG(src="/img/service-11.jpg" alt="#").object-fit
                +e.content
                    +e.H3.title.h3 zip-lock
            +e.col.service-item__._bottom
                +e.image.absolute
                    +b.IMG(src="/img/service-12.jpg" alt="#").object-fit
                +e.content
                    +e.H3.title.h3 упаковка картон
            +e.col.service-item__._bottom._right
                +e.image.absolute
                    +b.IMG(src="/img/service-14.jpg" alt="#").object-fit
                +e.content
                    +e.H3.title.h3 пакеты самоклеющиеся <br> <span>для сопроводительных документов</span>
            +e.col.service-item__
                +e.image.absolute
                    +b.IMG(src="/img/service-15.jpg" alt="#").object-fit
                +e.content
                    +e.H3.title.h3 пакеты <br> полиэтиленовые <span>с прорубной ручкой</span>
            +e.col.service-item__._big._bottom
                +e.image.absolute
                    +b.IMG(src="/img/service-16.jpg" alt="#").object-fit
                +e.content
                    +e.H3.title.h3 <span>Упаковка</span> <br> для маркетплейсов
            +e.col.service-banner__
                +e.image.absolute
                    +b.IMG(src="/img/service-banner-1.jpg" alt="#").object-fit
                +e.content
                    +e.holder.content
                        +e.H4 Оплачивайте, как вам удобно
                        +e.UL
                            +e.LI Картой онлайн
                            +e.LI При получении (картой или наличными)
                            +e.LI Почта России
                            +e.LI Безналичный расчет
                    +btn('#', 'longLeft')._radius._tiny._icon._black._dashed._white-bg Условия оплаты
            +e.col.service-banner__
                +e.image.absolute
                    +b.IMG(src="/img/service-banner-2.jpg" alt="#").object-fit
                +e.content
                    +e.holder.content
                        +e.H4 Доставляем по всей России
                        +e.UL
                            +e.LI Самовывоз во всех городах
                            +e.LI Доставка курьером
                            +e.LI Почта России
                            +e.LI Самовывоз со склада в Москве <br> и Санкт-Петербурге
                    +btn('#', 'longLeft')._radius._tiny._icon._black._dashed._orange-bg Условия оплаты