+b.modal._big._height.mfp-hide.js-tooltip-show.js-select-show#choose-city
    +e.top
        +e.H4.title.css-text-left Выберите город:
    +e.content
        +e.FORM(action="#").form
            +select(false, 'Санкт-Петербург', 'Москва', 'Екатеринбург, Свердловская область', 'Нижний Новгород, Нижегородская область', 'Пермь, Пермский Край', 'Новосибирск, Новосибирская область', 'Казань, Татарстан республика', 'Челябинск, Челябинская область', 'Краснодар, Краснодарский Край', 'Самара, Самарская область')(data-dropdown-parent="#choose-city" data-placeholder="Ваш город").js-select