+b.modal._big._height.mfp-hide.js-tooltip-show.js-select-show#choose-city
    +e.top
        +e.H4.title.css-text-left Выберите город:
    +e.content
        +e.FORM(action="#").form
            +select(false, ['horse', 'moscow'], ['Санкт-Петербург', 'Москва', 'Екатеринбург,', 'Нижний Новгород,', 'Пермь,', 'Новосибирск,', 'Казань,', 'Челябинск,', 'Краснодар,', 'Самара,'], '', '', 'Свердловская область', 'Нижегородская область', 'Пермский Край', 'Новосибирская область', 'Татарстан республика', 'Челябинская область', 'Краснодарский Край', 'Самарская область')(data-dropdown-parent="#choose-city" data-placeholder="Ваш город").js-select