+b.modal._height._top.mfp-hide#order
    +e.top
        +e.text._long Чтобы отследить ваш заказ, <br> войдите в личный кабинет либо <br> введите номер заказа
    +e.content
        +btn('#login-phone')._small._fluid.js-modal
            +e.SPAN.text Войти в личный кабинет
        +btn('#order-status')._small._fluid._black._border._border-red.js-modal
            +e.SPAN.text Отследить по номеру заказа