+b.modal._height.mfp-hide#reset-password
    +e.A(href="#login").back.js-modal
        +icon('longRight')
    +e.top
        +e.icon
            +icon('resetPassword')
        +e.H4.title Восстановить пароль
        +e.text._margin-top После заполнения формы мы отправим специальную ссылку, перейдя по которой вы сможете задать новый пароль
    +e.content
        +e.FORM(action="#").form
            +input('E-mail', 'email')(data-inputmask="'alias': 'email'" required)
            +btn()._small._fluid
                +e.SPAN.text Отправить