mixin btn(link = false, icon = false)
    if (link)
        +e.A(href=link).btn.btn__&attributes(attributes)
            if block
                block
            if (icon)
                +icon(icon)

    else
        +e.BUTTON.btn.btn__()&attributes(attributes)
            if block
                block
            if (icon)
                +icon(icon)

mixin btnCity()
    +e.BUTTON.btn-city.btn-city__()&attributes(attributes)
        +icon('map')
        +e.SPAN.text
            if block
                block

mixin btnSearch()
    +e.BUTTON.btn.btn-search__()&attributes(attributes)
        +icon('search')

mixin btnFavorites(count = false)
    +b.BUTTON.btn-favorites()&attributes(attributes)
        if count
            +e.SPAN.count=count
        +icon('heart')