mixin link(link, icon = 'longLeft')
    +e.A(href=link).link.link__&attributes(attributes)
        if block
            +e.SPAN.text
                block
        if icon
            +icon(icon)

mixin linkIcon(link, icon)
    +e.A(href=link).link.link__&attributes(attributes)
        if icon
            +icon(icon)
        if block
            +e.SPAN.text
                block