extends ../layouts/base

append vars
	- title = 'Категории';

block content
	+b.SECTION.category
		.container
			+e.top.page-top__.flex._vertical._center
				+e.cell._left.desktop-show
				+e.H2.title.h2 Каталог конвертов
				+e.cell._right.desktop-show
					+btn('#', 'longLeft')._dashed._dashed-red._short._icon._white-bg._noraml Каталог упаковки
			+e.row.category-row.flex._wrap
				+e.A(href="#").item.category-item__
					+e.img
						+e.IMG(src="/img/category-1.png" alt="Пакеты почтовые")
					+e.title Пакеты почтовые
				+e.A(href="#").item.category-item__
					+e.img
						+e.IMG(src="/img/category-2.png" alt="Отправление 1 классом")
					+e.title Отправление 1 классом
				+e.A(href="#").item.category-item__
					+e.img
						+e.IMG(src="/img/category-3.png" alt="Курьер-пакеты полиэтилен")
					+e.title Курьер-пакеты полиэтилен
				+e.A(href="#").item.category-item__
					+e.img
						+e.IMG(src="/img/category-4.png" alt="Картонная упаковка")
					+e.title Картонная упаковка
				+e.A(href="#").item.category-item__
					+e.img
						+e.IMG(src="/img/category-5.png" alt="Пакеты с пузырьками MAIL LITE")
					+e.title Пакеты с пузырьками MAIL LITE
				+e.A(href="#").item.category-item__
					+e.img
						+e.IMG(src="/img/category-6.png" alt="Самоклеящиеся пакеты")
					+e.title Самоклеящиеся пакеты
				+e.A(href="#").item.category-item__
					+e.img
						+e.IMG(src="/img/category-7.png" alt="Самоклеящиеся этикетки")
					+e.title Самоклеящиеся этикетки
				+e.A(href="#").item.category-item__
					+e.img
						+e.IMG(src="/img/category-8.png" alt="Тканевые промо сумки")
					+e.title Тканевые промо сумки
				+e.A(href="#").item.category-item__
					+e.img
						+e.IMG(src="/img/category-1.png" alt="Пакеты почтовые")
					+e.title Пакеты почтовые
				+e.A(href="#").item.category-item__
					+e.img
						+e.IMG(src="/img/category-2.png" alt="Отправление 1 классом")
					+e.title Отправление 1 классом
				+e.A(href="#").item.category-item__
					+e.img
						+e.IMG(src="/img/category-3.png" alt="Курьер-пакеты полиэтилен")
					+e.title Курьер-пакеты полиэтилен
				+e.A(href="#").item.category-item__
					+e.img
						+e.IMG(src="/img/category-4.png" alt="Картонная упаковка")
					+e.title Картонная упаковка
				+e.A(href="#").item.category-item__
					+e.img
						+e.IMG(src="/img/category-5.png" alt="Пакеты с пузырьками MAIL LITE")
					+e.title Пакеты с пузырьками MAIL LITE
				+e.A(href="#").item.category-item__
					+e.img
						+e.IMG(src="/img/category-6.png" alt="Самоклеящиеся пакеты")
					+e.title Самоклеящиеся пакеты
				+e.A(href="#").item.category-item__
					+e.img
						+e.IMG(src="/img/category-7.png" alt="Самоклеящиеся этикетки")
					+e.title Самоклеящиеся этикетки
				+e.A(href="#").item.category-item__
					+e.img
						+e.IMG(src="/img/category-8.png" alt="Тканевые промо сумки")
					+e.title Тканевые промо сумки
				+e.A(href="#").item.category-item__
					+e.img
						+e.IMG(src="/img/category-7.png" alt="Самоклеящиеся этикетки")
					+e.title Самоклеящиеся этикетки
				+e.A(href="#").item.category-item__
					+e.img
						+e.IMG(src="/img/category-8.png" alt="Тканевые промо сумки")
					+e.title Тканевые промо сумки
				+e.A(href="#").item.category-item__._long
					+e.title.css-text-right Рекламный баннер