.icon-error {
  width: 1.4rem;
  height: 1.4rem;
  background-color: var(--color-red);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: var(--color-white);
  font-size: 1.1rem;
  &::before {
    content: '!';
  }
}

.required-text {
  font-size: 1.2rem;
  &::before {
    content: '* ';
    color: var(--color-red);
  }
}

.input,
.textarea {
  margin-bottom: 1rem;
  width: 100%;
  &__label {
    font-size: 1.2rem;
    display: block;
    margin-bottom: .5rem;
  }
  &_width {
    width: calc(50% - 1rem);
    margin-left: 1rem;
  }
  &_width-small {
    width: calc(33.333333333% - 1rem);
    margin-left: 1rem;
  }
  &_tiny {
    width: 3.5rem;
    .input {
      &__field{
        padding: .5rem;
        height: 2.7rem;
        text-align: center;
        &::placeholder {
          color: #8F9EB1;
        }
      }
    }
  }
  &__field {
    display: block;
    width: 100%;
    border-radius: .5rem;
    border: 1px solid var(--color-base);
    height: 4rem;
    padding: 1rem 1.3rem;
    font-size: 1.2rem;
    @include large-mobile {
      font-size: 1.1rem;
      padding: 1rem;
    }
    &:required {
      & ~ .input__placeholder {
        &::after {
          content: ' *';
          color: var(--color-red);
        }
      }
      & ~ .textarea__placeholder {
        &::after {
          content: ' *';
          color: var(--color-red);
        }
      }
    }
    &::placeholder {
      color: var(--color-base);
      font-size: 1.2rem;
      vertical-align: middle;
      @include large-mobile {
        font-size: 1.1rem;
      }
    }
    &:hover {
      border-color: var(--color-gray);
    }
    &:focus {
      box-shadow: 0 0 .4rem var(--color-gray);
    }
    &_small {
      font-size: 1.4rem;
      &::placeholder {
        font-size: 1.4rem;
      }
      & ~ .input__placeholder {
        font-size: 1.4rem;
      }
    }
  }
  &__icon {
    &-error {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;
    }
  }

  &__parent {
    position: relative;
    overflow: hidden;
    &.is-focus {
      .input__placeholder {
        display: none;
      }
      .textarea__placeholder {
        display: none;
      }
    }
    &.error {
      .input__icon-error {
        opacity: 1;
      }
      .textarea__icon-error {
        opacity: 1;
      }
    }
    & ~ .error {
      color: var(--color-red);
      font-size: 1rem;
      line-height: (14 / 10) * 1;
      display: block;
      margin-top: .2rem;
    }
  }

  &__placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    line-height: (16/12) * 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    left: 1rem;
    transition: var(--base-transition);
    pointer-events: none;
    @include large-mobile {
      font-size: 1.1rem;
    }
  }

  &__captcha {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    & > * {
      max-width: 12.5rem;
      margin-left: 1rem;
    }
  }
}

.textarea {
  &__field {
    resize: none;
    height: 6.7rem;
    &_small {
      height: 9rem;
    }
    @include large-mobile {
      height: 13.5rem;
    }
  }
  &__placeholder {
    transform: translateY(0);
    top: 1rem;
  }
  &__icon {
    &-error {
      transform: translateY(0);
      top: 1rem;
    }
  }
}