+b.FOOTER.footer
    +e.inner
        .container
            +e.row.flex
                +e.cell._left
                    +e.addresses
                        +e.address.address__
                            +e.H5.title Москва
                            +e.A(href="#" target="_blank").link ул. Складочная, 1 стр. 18
                            +e.text Пн-Пт: с 10:00 до 18:00
                            +e.A(href='tel:84993466339').phone 8 (499) 346-63-39
                        +e.address.address__
                            +e.H5.title Санкт-Петербург
                            +e.A(href="#" target="_blank").link ул. Рузовская, 16
                            +e.text Пн-Пт: с 10:00 до 18:00
                            +e.A(href='tel:88123396160').phone 8 (812) 339-61-60
                    +e.box
                        +e.holder
                            +e.info
                                +e.phone
                                    +e.SPAN.label Бесплатный звонок по России:
                                    +e.A(href="88005559066") 8 (800) 555-90-66
                                +e.email
                                    +e.A(href="mailto:zakaz@spbkonvert.com") zakaz@spbkonvert.com
                                +e.email
                                    +e.SPAN.label Отдел печати:
                                    +e.A(href="mailto:print@spbkonvert.com") print@spbkonvert.com
                            +e.menu.footer-menu__
                                +e.UL.list
                                    +e.LI.item
                                        +e.A(href="#").link О компании
                                    +e.LI.item
                                        +e.A(href="#").link Контакты
                                    +e.LI.item
                                        +e.A(href="#").link Публичная оферта
                                    +e.LI.item
                                        +e.A(href="#").link Оплата
                                    +e.LI.item
                                        +e.A(href="#").link Доставка
                                    +e.LI.item
                                        +e.A(href="#").link Возврат
                        +e.contacts.footer-contacts__.flex._wrap
                            +e.item
                                +linkIcon('#feedback', 'feedback')._white._small.js-modal Обратная связь
                            +e.item
                                +linkIcon('#', 'vk')._white._small Мы ВКонтакте
                            +e.item
                                +linkIcon('#request-call', 'phone')._white._small.js-modal Заказать звонок
                            +e.item(data-da=".footer__cell_right, 768, last")._bottom
                                +linkIcon('#', 'fast')._gray._medium Написать директору
                +e.cell._right
                    +e.A(href="#order-payment-1").btn._red.js-modal
                        +icon('onlineCard')
                        | Онлайн оплата
                    +e.A(href="#").btn
                        +icon('promo')
                        | Скидки и акции
                    +e.A(href="#").btn
                        +icon('xls')
                        | Скачать прайслист
    +e.bottom
        .container
            +e.copyright © 2006-2021 Все авторские права в рамках проекта защищены и принадлежат их владельцам. <br> Перепечатка и использование материалов с данного сайта запрещены в соответствии с 146 статьей УК РФ.