+b.HEADER.header
    +b.top-banner.js-cookie-hide
        +e.bg.absolute
            +e.IMG(src="/img/banner-bg.jpg" alt).img.object-fit
        +e.content
            +e.title Покупайте как юрлицо  /  Оплачивайте заказы с расчетного счета
        +e.BUTTON(type="button" data-cookie='{"name": "banner", "value": "true"}').btn.js-cookie
            +icon('close')
    +e.top
        .container
            +e.row.flex._justify._vertical
                +e.menu.menu-top__
                    +e.UL.list.flex._vertical
                        +e.LI.item.is-active
                            +e.A(href="#").link Печать
                        +e.LI.item
                            +e.A(href="#").link Доставка
                        +e.LI.item
                            +e.A(href="#").link Скидки
                        +e.LI.item
                            +e.A(href="#").link Контакты
                        +e.LI.item
                            +e.A(href="#").link О компании
                            +e.UL.sublist(data-da=".menu__list, 768, last")
                                +e.LI.subitem
                                    +e.A(href="#").sublink
                                        +icon('about', '0 0 23 23')
                                        | О компании
                                +e.LI.subitem
                                    +e.A(href="#").sublink
                                        +icon('payment', '0 0 23 23')
                                        | Онлайн оплата
                                +e.LI.subitem
                                    +e.A(href="#" data-count="13").sublink
                                        +icon('compare', '0 0 23 23')
                                        | Сравнение товаров
                                +e.LI.subitem
                                    +e.A(href="#").sublink
                                        +icon('delivery', '0 0 23 23')
                                        | Доставка
                                +e.LI.subitem
                                    +e.A(href="#").sublink
                                        +icon('return', '0 0 23 23')
                                        | Возврат
                                +e.LI.subitem
                                    +e.A(href="#").sublink
                                        +icon('discount', '0 0 23 23')
                                        | Скидки
                                +e.LI.subitem
                                    +e.A(href="#").sublink
                                        +icon('map', '0 0 23 23')
                                        | Контакты
                                +e.LI.subitem
                                    +e.A(href="#").sublink
                                        +icon('document', '0 0 23 23')
                                        | Публичная оферта
                +e.info
                    +e.phones.flex._center
                        +e.desc.mobile-show Время работы офиса: Пн-Пт с 10:00 до 18:00
                        +e.A(href="tel:88003330601" data-tippy-content="<span class='time-tooltip__text'>Время работы офиса:</span><span class='time-tooltip__title'>Пн-Пт с 10:00 до 18:00</span>" data-tippy-theme="time-tooltip").phone.desktop-show 8 (800) 333-06-01
                        +e.A(href="tel:88123396160" data-tippy-content="<span class='time-tooltip__text'>Время работы офиса:</span><span class='time-tooltip__title'>Пн-Пт с 10:00 до 18:00</span>" data-tippy-theme="time-tooltip").phone.desktop-show 8 (812) 339-61-60
                    +e.feedback.feedback__
                        +e.A(href="#feedback").link.js-modal Обратная связь
                        +icon('phone').mobile-show
                        +e.A(href="#request-call").link.js-modal Заказать звонок
    +e.main
        .container
            +e.inner
                +e.cell._left
                    +btn()(type="button")._big._uppercase.js-btn-menu
                        +e.SPAN.hamburger
                            +icon('hamburgerClose')
                            +icon('hamburgerOpen')
                        +e.SPAN.text Каталог
                    +e.holder
                        +btnCity()(data-tippy-content=`
                            <span class='city-tooltip__text'>Ваш город:</span>
                            <span class='city-tooltip__title'>Санкт-Петербург?</span>
                            <button class="city-tooltip__btn btn btn_green js-close-tooltip" type="button">
                                Да
                            </button>
                            <button class="city-tooltip__btn btn btn_black btn_border js-modal" data-modal="#choose-city" type="button">
                                Другой город
                            </button>
                        ` data-tippy-theme="city-tooltip" data-tippy-interactive="true" data-tippy-trigger="click") Санкт-Петербург
                        +e.logo.logo__
                            +e.A(href="main.html").link
                                +e.IMG(src="/app/img/logo.svg" alt="Логотоп").image
                +e.cell._right
                    +e.search.search__
                        +e.FORM(action="#").form
                            +e.field
                                +e.INPUT(placeholder="Поиск...").input.js-search
                                +e.BUTTON(type="button").delete.js-search-delete
                                    +icon('close')
                                +btnSearch()
                        +e.dropdown.dropdown__.js-search-dropdown
                            +e.UL.list
                                +e.LI.item
                                    +e.A(href="#").link Белые конверты
                                +e.LI.item
                                    +e.A(href="#").link Конверты крафт
                                +e.LI.item
                                    +e.A(href="#").link Цветные конверты
                                +e.LI.item
                                    +e.A(href="#").link Дизайнерские конверты
                                +e.LI.item
                                    +e.A(href="#").link Полупрозрачные из кальки
                                +e.LI.item
                                    +e.A(href="#").link Полупрозрачные из кальки
                                +e.LI.item
                                    +e.A(href="#").link Картонные конверты
                                +e.LI.item
                                    +e.A(href="#").link Печать на конвертах
                                +e.LI.item
                                    +e.A(href="#").link Конверты "С праздником"

                    +e.features.features__.flex
                        +e.A(href="#order" data-count="3" data-da=".menu__buttons, 580, 1").link._mobile.js-modal
                            +icon('order')
                            +e.text Заказы
                        +e.A(href="#login-phone" data-da=".menu__buttons, 580, 2").link._mobile.js-modal
                            +icon('user')
                            +e.text Войти
                        +e.A(href="#" data-count="12").link
                            +icon('basket')
                            +e.text Корзина