.captcha {
  &__text {
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-bottom: .5rem;
    &::after {
      content: ' *';
      color: var(--color-red);
    }
    @include large-mobile {
      font-size: 1.6rem;
    }
  }
}