.checkbox {
  display: block;
  user-select: none;
  margin: .5rem 0 1rem;

  &_white {
    .checkbox__arrow {
      background-color: var(--color-white);
    }
  }

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;

    &:checked {
      & ~ .checkbox__text {
        .checkbox__arrow {
          border-color: var(--color-red);
          background-color: var(--color-red);

          .icon {
            opacity: 1;
          }
        }
      }
    }
  }

  &__text {
    cursor: pointer;
    padding-left: 2.5rem;
    position: relative;
    display: block;
    font-size: 1.2rem;
    a {
      text-decoration-line: underline;
      &:not(.color-blue) {
        color: var(--color-accent);
      }
    }
  }

  &__arrow {
    min-width: 1.8rem;
    height: 1.8rem;
    flex-shrink: 0;
    margin-right: .8rem;
    border-radius: .5rem;
    border: 1px solid var(--color-base);
    background-color: var(--color-white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: var(--base-transition);
    margin-top: -0.3rem;
    position: absolute;
    left: 0;
    top: .1rem;
    .icon {
      width: 1.2rem;
      height: .9rem;
      opacity: 0;
      transition: var(--base-transition);
      fill: var(--color-white)
    }
  }

  &.error {
    color: var(--color-error);

    .checkbox__arrow {
      border-color: var(--color-error);
    }
  }

  &_left {
    margin-left: 1.8rem;
  }

}