.icon {
  &.icon-order {
    max-width: 2.3rem;
  }
  &.icon-user {
    max-width: 2.3rem;
  }
  &.icon-basket {
    max-width: 2.9rem;
  }
  &.icon-lock {
    max-width: 4.2rem;
  }
  &.icon-clock {
    max-width: 4.2rem;
  }
  &.icon-resetPassword {
    max-width: 4rem;
  }
  &.icon-registration {
    max-width: 3.5rem;
  }
}