.link {
  font-size: 1.2rem;
  color: var(--color-red);
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  padding: .6rem 1.3rem;
  border: 1px solid transparent;
  border-radius: 3rem;
  margin-left: -1.3rem;
  transition: var(--base-transition);
  .icon {
    width: 1.8rem;
    height: 1.1rem;
    fill: var(--color-red);
    flex-shrink: 0;
    margin-left: .5rem;
    transition: var(--base-transition);
  }
  &:hover {
    border-color: var(--color-red);
    background-color: var(--color-white);
    .icon {
      transform: translateX(.25rem);
    }
  }
  &_small {
    margin-left: 0;
    .icon {
      width: 2.3rem;
      height: 2.3rem;
      margin-right: .7rem;
      margin-left: 0;
    }
  }
  &_medium {
    border-radius: .5rem;
    margin-left: 0;
    .icon {
      width: 3rem;
      margin-right: .7rem;
      margin-left: 0;
    }
    @include small-tablet {
      padding: 0.6rem 0.9rem;
    }
  }
  &_gray {
    background-color: rgba(#fff, .3);
    color: var(--color-white);
    .icon {
      fill: var(--color-white);
    }
    &:hover {
      background-color: var(--color-white);
      color: var(--color-base);
      border-color: var(--color-white);
      .icon {
        fill: var(--color-base);
        transform: translateX(0);
      }
    }
    @include large-mobile {
      background-color: var(--color-white);
      color: var(--color-base);
      .icon {
        fill: var(--color-base);
      }
    }
  }
  &_white {
    color: var(--color-white);
    padding: 0;
    border: none;
    .icon {
      fill: var(--color-white);
    }
    &:hover {
      color: var(--color-red-light);
      background-color: transparent;
      .icon {
        transform: translateX(0);
      }
    }
  }
}