.switcher {
  font-size: 1.2rem;
  margin-left: -.5rem;
  margin-bottom: -.5rem;
  margin-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  @include large-mobile {
    font-size: 1.1rem;
  }
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
    top: 0;
    right: 0;
    &:checked {
      & ~ .switcher__text {
        background-color: var(--color-red);
        color: var(--color-white);
      }
    }
  }
  &__item {
    margin-left: .5rem;
    margin-bottom: .5rem;
    flex: 1 1 auto;
    text-align: center;
  }
  &__text {
    padding: .6rem;
    background-color: #F6F6F7;
    display: block;
    width: 100%;
    border-radius: .5rem;
    white-space: nowrap;
    cursor: pointer;
    transition: var(--base-transition);
    @include large-mobile {
      padding: .8rem .3rem;
    }
  }
}