.service {
  &-item {
    position: relative;
    width: calc(25% - 2rem);
    @include large-tablet {
      width: calc(25% - 1.5rem);
    }
    @include small-tablet {
      width: calc(33.33333333% - 1.5rem);
    }
    @include large-mobile {
      width: calc(50% - 1rem);
    }
    &__image {
      z-index: -1;
    }

    &__content {
      min-height: 30.5rem;
      padding: 2rem 3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: var(--base-transition);
      @include large-tablet {
        padding: 2rem;
        min-height: 24.5rem;
      }
    }
    &__title {
      text-transform: uppercase;

      span {
        text-transform: none;
        font-size: 1.8rem;
      }
      @include large-tablet {
        @include line-height(19, 22);
        span {
          @include line-height(15, 22);
        }
      }
    }
    &__info {
      display: flex;
      flex-wrap: wrap;
      max-height: 19rem;
      overflow-y: auto;
      transition: var(--base-transition);
      opacity: 0;
      margin-bottom: 2rem;
      text-align: left;
      visibility: hidden;
      @include small-tablet {
        max-height: 14.5rem;
      }
    }
    &__link {
      display: inline-block;
      transition: var(--base-transition);
      &:hover {
        color: var(--color-red) !important;
      }
    }
    &__elem {
      width: 24.5rem;
      margin-bottom: .8rem;
      padding-left: 1.5rem;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: .3rem;
        height: .3rem;
        background-color: var(--color-white);
        left: 0;
        border-radius: 50%;
        top: .7rem;
      }
    }
    &_big {
      width: calc(50% - 2rem);
      @include large-tablet {
        width: calc(50% - 1.5rem);
      }
      @include small-tablet {
        width: calc(66.666666% - 1.5rem);
      }
      @include large-mobile {
        width: calc(100% - 1rem);
      }
    }
    &_right {
      text-align: right;
    }
    &_bottom {
      .service-item__title {
        margin-top: auto;
      }
    }
    &:hover {
      color: var(--color-white);
      .service-item__link {
        color: var(--color-white);
      }
      .service-item__info {
        opacity: 1;
        visibility: visible;
      }
      .service-item__content {
        background: rgba(42, 55, 71, 0.8);
        backdrop-filter: blur(1rem);
      }
    }
  }
}
.service-banner {
  position: relative;
  width: calc(50% - 2rem);
  padding: 3.5rem 3rem;
  min-height: 40rem;
  @include large-tablet {
    min-height: 31rem;
    width: calc(50% - 1.5rem);
  }
  @include small-tablet {
    padding: 2rem 1.5rem;
    min-height: 24rem;
  }
  @include large-mobile {
    width: calc(100% - 1rem);
    min-height: 32rem;
    padding: 4.5rem 2rem;
  }
  &__image {
    z-index: -1;
  }

  &__holder {
    margin-bottom: 2rem;
    @include large-tablet {
      ul {
        max-width: 25rem;
      }
    }
    @include small-tablet {
      margin-bottom: .5rem;
    }
  }

  &__content {
    min-height: 27rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include large-tablet {
      min-height: 23rem;
    }
    @include small-tablet {
      min-height: 20rem;
    }
  }

  &__btn {
    margin-top: auto;
  }
}
.services {
  margin-top: 2rem;
  @include large-mobile {
    margin-top: 0;
  }
  &__row {
    margin-left: -2rem;
    @include large-tablet {
      margin-left: -1.5rem;
    }
    @include large-mobile {
      margin: 0 -2rem 0 -3rem;
    }
  }
  &__col {
    margin-bottom: 2rem;
    margin-left: 2rem;
    @include large-tablet {
      margin-left: 1.5rem;
      margin-bottom: 1.5rem;
    }
    @include large-mobile {
      margin-left: 1rem;
      margin-bottom: 1rem;
    }
    @include small-tablet {
      &.order-8 {
        order: 6;
      }
      &.order-9 {
        order: 6;
      }
    }
    @include large-mobile {
      &.order-8 {
        order: 8;
      }
      &.order-9 {
        order: 9;
      }
    }
  }
}